*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Inter,Segoe UI,sans-serif;

background:#0f172a;

display:flex;
align-items:center;
justify-content:center;

height:100vh;

color:#e2e8f0;

}

/* CONTAINER */

.login-container{

width:100%;
max-width:420px;
padding:20px;

}

/* CARD */

.login-card{

background:#020617;

padding:40px;

border-radius:14px;

border:1px solid #1e293b;

box-shadow:0 10px 30px rgba(0,0,0,0.4);

text-align:center;

}

/* LOGO */

.logo{

font-size:26px;
font-weight:700;

color:#38bdf8;

margin-bottom:10px;

}

.subtitle{

color:#94a3b8;
margin-bottom:30px;

}

/* INPUT */

input{

width:100%;

background:#0f172a;

border:1px solid #1e293b;

padding:12px 14px;

border-radius:8px;

color:white;

margin-bottom:14px;

font-size:14px;

}

input:focus{

outline:none;

border-color:#38bdf8;

}

/* BOTÃO */

.btn-login{

width:100%;

background:#22c55e;

border:none;

padding:12px;

border-radius:8px;

font-weight:600;

color:white;

cursor:pointer;

margin-top:5px;

transition:.2s;

}

.btn-login:hover{

background:#16a34a;

}

/* FOOTER */

.footer{

margin-top:20px;

font-size:12px;

color:#64748b;

}