/* ================================= */
/* RESET */
/* ================================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:"Segoe UI",Arial,sans-serif;

background:#f4f6f9;

padding:30px;

color:#1e293b;

}

/* ================================= */
/* TOPO DO SISTEMA */
/* ================================= */

.topo{


display:flex;

justify-content:space-between;

align-items:center;

background:white;

padding:15px 25px;

border-radius:10px;

box-shadow:0 4px 12px rgba(0,0,0,0.08);

margin-bottom:25px;

}


/* logo */

.logo{

font-size:28px;

font-weight:600;

color:#0f172a;

margin:0;

}


/* lado direito */

.topo-direita{

display:flex;

align-items:center;

gap:10px;

}



/* ================================= */
/* TITULOS */
/* ================================= */

h2{

margin-bottom:20px;

align-items: center;

font-size:26px;

font-weight:600;

color:#0f172a;

}


h3{

margin-bottom:15px;

color:#0f172a;

}



/* ================================= */
/* CARD */
/* ================================= */

.card{

background:white;

padding:25px;

border-radius:10px;

margin-bottom:20px;

box-shadow:0 4px 12px rgba(0,0,0,0.08);

}



/* ================================= */
/* GRID DETALHES (PAGAR.HTML) */
/* ================================= */

.detalhe-grid{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:10px 30px;

}


.detalhe-grid p{

margin:4px 0;

}



/* ================================= */
/* LABEL */
/* ================================= */

label{

display:block;

margin-top:15px;

margin-bottom:5px;

font-weight:500;

}



/* ================================= */
/* INPUT */
/* ================================= */

input{

width: 350px;

padding:10px;

border-radius:6px;

border:1px solid #cbd5e1;

font-size:15px;

background:white;

transition:0.2s;

}


input:focus{

outline:none;

border-color:#2563eb;

box-shadow:0 0 0 2px rgba(37,99,235,0.2);

}


input:disabled{

background:#e2e8f0;

cursor:not-allowed;

}

.linha-checkbox{

display:flex;

align-items:center;

gap:8px;

}


/* CORREÇÃO PRINCIPAL */
.label-checkbox{

display:inline-block;

margin:0;

}




/* ================================= */
/* INPUT PAGAMENTO */
/* ================================= */

#valorPagamento{

padding:10px;

border-radius:6px;

font-size:15px;

border:1px solid #cbd5e1;

margin-top:5px;

}


/* ================================= */
/* BOTÕES OUTLINE PROFISSIONAL */
/* ================================= */

button,
a.btn-azul,
a.btn-vermelho,
a.btn-verde{

display:inline-block;

padding:10px 18px;

border-radius:6px;

font-size:14px;

font-weight:600;

background:white;

cursor:pointer;

text-decoration:none;

transition:0.5s;

border:2px solid;

}


/* ================================= */
/* AZUL */
/* ================================= */

.btn-pagar,
.btn-editar,
.btn-azul{

color:#2563eb;

border-color:#2563eb;

}


.btn-pagar:hover,
.btn-editar:hover,
.btn-azul:hover{

background:#2563eb;

color:white;

}


/* ================================= */
/* VERDE */
/* ================================= */

.btn-verde{

color:#16a34a;

border-color:#16a34a;

}


.btn-verde:hover{

background:#16a34a;

color:white;

}


/* ================================= */
/* VERMELHO */
/* ================================= */

.btn-vermelho{ background:#dc2626; 
  color:white; 
} 

.btn-vermelho:hover{ 
  background:#a31919;
  border-color: #a31919;
}

/* ================================= */
/* BOTÕES LINK (A) */
/* ================================= */

a.btn-azul,
a.btn-vermelho,
a.btn-verde{

display:inline-block;

padding:10px 18px;

border-radius:6px;

font-size:14px;

font-weight:600;

text-decoration:none;

margin-top:15px;

margin-right:10px;

transition:0.2s;


}


/* ================================= */
/* TABELA */
/* ================================= */

table{

width:100%;

border-collapse:collapse;

background:white;

border-radius:10px;

overflow:hidden;

box-shadow:0 4px 12px rgba(0,0,0,0.05);

margin-top:10px;

}


th{

background:#1e293b;

color:white;

padding:12px;

text-align:center;

font-size:14px;

}


td{



padding:12px;

border-bottom:1px solid #e2e8f0;

font-size:16px;

}


tr:hover{

background:#ebebeb;

}



/* ================================= */
/* STATUS */
/* ================================= */

.status-aberto{

color:#16a34a;

font-weight:600;

}


.status-quitado{

color:#2563eb;

font-weight:600;

}


.status-atrasado{

color:#f59e0b;

font-weight:600;

}


.status-risco{

color:#dc2626;

font-weight:600;

}



/* ================================= */
/* DESATIVADO */
/* ================================= */

.desativado{

opacity:0.5;

pointer-events:none;

}


.campo-desativado{

opacity:0.4;

}



/* ================================= */
/* CHECKBOX */
/* ================================= */

input[type="checkbox"]{

width:auto;

margin-right:8px;

cursor:pointer;

}



/* ================================= */
/* DATA */
/* ================================= */

input[type="date"]{

cursor:pointer;

}



/* ================================= */
/* PESQUISA */
/* ================================= */

#pesquisaCliente, #pesquisa{

margin-bottom:15px;
width: 300px;
}



/* ================================= */
/* RESPONSIVO */
/* ================================= */

@media(max-width:768px){

body{

padding:15px;

}


table{

font-size:12px;

}


button{

width:100%;

margin-top:10px;

}

}